{
  "presets": [
    ["@babel/preset-env", {
        "targets": {
          "browsers": ["last 4 Chrome major versions"]
        }
      }
    ],
    ["@babel/preset-react", {"runtime": "automatic"}]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}